# Airflow
logs/
airflow.db
airflow.cfg
airflow-webserver.pid
standalone_admin_password.txt

# Results
results/
*.mp4
*.gif
*.jpg
*.jpeg
*.png

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# YOLOv8 models
*.pt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
postgres-db-volume/

*.mp4
*.gif
*.jpg

.env
